source/SimpleTeamsMessage/Workflows/InitiateSend-A97D541C-6889-EC11-93B0-00224828BE96.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"ctd_sharedcommondataserviceforapps_77eb0"},"api":{"name":"shared_commondataserviceforapps"}},"shared_teams":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"ctd_sharedteams_7fcab"},"api":{"name":"shared_teams"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"372aa4d5-e1e9-469a-acc7-338aa7436e54"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_rows":{"runAfter":{},"metadata":{"operationMetadataId":"1ce4bede-be02-4467-bf81-ab019f909b0e"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ctd_teamsmessagerecipients","$select":"ctd_upn","$filter":"ctd_include eq true"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each":{"foreach":"@outputs('List_rows')?['body/value']","actions":{"Post_message_in_a_chat_or_channel":{"runAfter":{},"metadata":{"operationMetadataId":"d85e1e3b-95d2-4f04-a962-5de8564b7043"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostMessageToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{items('Apply_to_each')?['ctd_upn']};","body/messageBody":"<p>This is my fancy message</p>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Log_Failure":{"runAfter":{"Post_message_in_a_chat_or_channel":["Failed","Skipped","TimedOut"]},"metadata":{"operationMetadataId":"c14fd773-eed5-4ac6-b087-27ad296b9a3f"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","item/subject":"Send Failed","item/notetext":"Details: \n@{outputs('Post_message_in_a_chat_or_channel')?['body']}\n ","item/isdocument":false,"item/objectid_ctd_teamsmessagerecipient@odata.bind":"@items('Apply_to_each')?['@odata.id']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Log_Success":{"runAfter":{"Post_message_in_a_chat_or_channel":["Succeeded"]},"metadata":{"operationMetadataId":"a196ff74-62b7-46e5-a3ae-fc42af5c85eb"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","item/subject":"Send Successful","item/notetext":"Details: \n@{outputs('Post_message_in_a_chat_or_channel')?['body']}\n ","item/isdocument":false,"item/objectid_ctd_teamsmessagerecipient@odata.bind":"@items('Apply_to_each')?['@odata.id']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_rows":["Succeeded"]},"metadata":{"operationMetadataId":"4f642ce2-600e-4921-9a2c-dbc73da45489"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}}}}},"schemaVersion":"1.0.0.0"}